.desktopView { display: flex; }
.mobileView { display: none; }
.full-head-desktop {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 6vh;
    border-radius: 24px;
    background-color: #0000007d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0;
    margin: 16px;
    padding: 14px;
    position: fixed;
    z-index: 9;
}
.full-head-mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: #0000007d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    position: fixed;
    z-index: 9;
}

.flex-hor {
    display: flex;
    flex-direction: row;
}
.flex-ver {
    display: flex;
    flex-direction: column;
}

.left-head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30px;
}
.image-head {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    padding-right: 24px;
    transition: opacity 0.8s ease-in-out;
}
.title-head {
    color: #009c34;
    font-size: 40px;
    font-style: italic;
    font-weight: 240;
    animation: opacityTransition 0.5s linear;
    transition: color 0.4s ease;
}
.title-head:hover {
    color: #24d600;
    cursor: pointer;
}

.right-head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
}
.right-head-buttons-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.button-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #030303be;
    color: white;
    gap: 10px;
    border: solid 1px rgba(255, 255, 255, 0.492);
    border-radius: 18px;
    padding: 10px;
}
.button-head:hover {
    background-color: #303030;
    cursor: pointer;
}
.button-head:active {
    background-color: #252525;
}
.button-head-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    filter: invert(1);
}

@media (max-width: 768px) {
    .desktopView { display: none;}
    .mobileView { display: flex;}
    .full-head-mobile {
        width: 88%;
        margin: 18px;
    }
    #lang-sel {
        display: none;
    }
    .lang-sel-body {
        display: block;
    }
    .title-head {
        font-size: 28px;
    }
    .image-head {
        display: none;
    }
    .button-head {
        padding: 8px;
    }
    .button-head img {
        width: 28px;
        height: 28px;
    }
    .button-head p{
        font-size: 10px;
    }
    .flex-hor-footer{
        flex-direction: column;
    }
}