.flex-col{display: flex;flex-direction: column;}
.section-divider{margin-top: 32px;}
.section{
    align-items: center;
    justify-content: center;
}
.section-list{
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 10%;
    margin-right: 10%;
}