@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
img, svg {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.main {
    padding-top: 10vh;
}
.full-head-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    background-color: #111111;
    box-shadow: 2px 2px 10px #009c34;
    top: 0;
    padding: 14px;
    position: fixed;
    z-index: 9;
}

.flex-hor {
    display: flex;
    flex-direction: row;
}
.flex-ver {
    display: flex;
    flex-direction: column;
}

.left-head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30px;
}
.image-head {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    padding-right: 24px;
    transition: opacity 0.8s ease-in-out;
}
.title-head {
    color: #009c34;
    font-size: 40px;
    font-style: italic;
    font-weight: 240;
    animation: opacityTransition 0.5s linear;
    transition: color 0.4s ease;
}
.title-head:hover {
    color: #24d600;
    cursor: pointer;
}

.right-head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
}
.right-head-buttons-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.button-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 18px;
    padding: 10px;
    background-color: #393939;
}
.button-head:hover {
    background-color: #303030;
    cursor: pointer;
}
.button-head:active {
    background-color: #252525;
}
.button-head-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    filter: invert(1);
}

@keyframes opacityTransition {
    0% { opacity: 0; }
    100% { opacity: 1; }
}